body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

#container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

#logo {
    width: 50px;  /* Smallest possible size */
    height: 50px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

input, button {
    background-color: #222;
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
    width: 80%;
}

button:hover {
    background-color: #444;
}

#chat {
    border-top: 1px solid white;
    margin-top: 20px;
    padding-top: 10px;
}

#profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    display: block;
    margin: auto;
}